*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: black;
  }
  ul{
    position: relative;
  }
  ul li{
list-style: none;
text-align: center;

  }
  ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;

  }

  ul:hover li a{

color: black;

  }

  ul li:hover a{
    color: black;
    background: transparent;

  }

  ul li a:before{

    content: "";

    position:absolute;
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: black;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
    
  }
  ul li a:hover:before{
  
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 2600px;
  height: 2600px;
  
  }

  ul li:nth-child(6n+1) a::before{
 background-color: rgb(120, 109, 219);
 background-image: linear-gradient(43deg, #4158D0 0% #C850C0 26%, #FFCC70 100%);
 


  }
  ul li:nth-child(6n+2 )  a::before{
    background-color: rgb(76, 69, 134);
    background-image: linear-gradient(160deg, #4158D0 0% #443692 100%);
  }

  ul li:nth-child(6n+3 )  a::before{
    background-color: rgb(67, 180, 171);
    background-image: linear-gradient(90deg, #6a7bd3 0% #6a5fa7 100%);
  }

  ul li:nth-child(6n+4 )  a::before{
    background-color: rgb(155, 145, 245);
    background-image: linear-gradient(120deg, #6ad39e 0% #5f99a7 100%);
  }


  ul li:nth-child(6n+5 )  a::before{
    background-color: rgb(218, 159, 71);
    background-image: linear-gradient(62deg, #dfdd6a 0% #ebe157 100%);
  }

  ul li:nth-child(6n+6 )  a::before{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, #ffffff 0%, #5974d3 50%, #eb57c6 100%);
  }

  

  ul li:nth-child(6n+7 )  a::before{
    background-color: rgb(209, 157, 157);
    background-image: linear-gradient(200deg, #3061aa  0%, #3061aa  50%, #3061aa 100%);
  }

  ul li:nth-child(6n+8 )  a::before{
    background-color: rgb(231, 90, 55);
    background-image: linear-gradient(90deg, #eb57c6 0%, #eb57c6 50%, #eb57c6 100%);
  }

  button{

    background-color: rgba(35, 27, 46, 0.5);
    font-size: 50px;
    color: aliceblue;
    border-radius: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 13cm;
    height: 5cm;

    
    }   

    footer{

      display: flex;
      justify-content: center;
      align-items: center;

    }
    